<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/menu.css"/>

<body>
  <div id="main_container">

    <div class="group_name">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active"  href="/shop">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link"  href="/shop/all-shops">All Stores</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link"  href="/shop/login">Logout</a>
        </li>
      </ul>
    </div>
  
    <div class="shop_menu_frame">
      <div class="shop_container">
        <div class="store_table">
          <span class="new_product_txt"> List of All Store </span>

          <table class="table table-hover table-sm">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">S/n</th>
                <th scope="col">Store name</th>
                <th scope="col">Store phone number</th>
                <th scope="col">Top Stores</th>
                <th scope="col">Store Status</th>
              </tr>
            </thead>

            <% shop_data.map(function(value, key) { %>
              <tbody style="background: white">
                <td><%= key + 1 %></td>
                <td><%= value.mb_nick %></td>
                <td><%= value.mb_phone %></td>
                <td style="width: 13%;">
                    <label class="switch">
                      <input type="checkbox" class="mb_top" id="<%= value._id %>" 
                      <%= value.mb_top === 'Y' ? 'checked' : '' %> />
                      <span class="slider round"></span>
                    </label>
                </td>

                <td style="width: 13%;">
                  <select class="spec_select mb_status">
                    <option value="ONPAUSE" <%= value.mb_status === 'ONPAUSE' ? 'selected' : '' %> >ONPAUSE</option>
                    <option value="ACTIVE"  <%= value.mb_status === 'ACTIVE'  ? 'selected' : '' %> >ACTIVE </option>
                    <option value="DELETED" <%= value.mb_status === 'DELETED' ? 'selected' : '' %> >DELETED</option>
                  </select>
                </td>
              </tbody>
            <% }); %>
          </table>
        </div>  
      </div>
    </div>
  </div>
</body>

<%- include('includes/footer') %>